/*
 Theme Name:   Yoko (Gamelan Sari Pandhawa child theme)
 Theme URI:    http://www.elmastudio.de/wordpress-themes/yoko/
 Description:  Gamelan Sari Pandhawa child theme
 Template:     yoko
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light
*/

#main {
	width: 70%;
}
#content {
	width: 70%;
}
#secondary {
	width: 0%;
	margin-left:2%;
}
#tertiary {
	width: 30%;
}
